        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
        
         :root {
            --header-height: 3.5rem;
            /*========== Colors ==========*/
            --hue: 230;
            --first-hue: 250;
            --second-hue: 219;
            --sat: 66%;
            --lig: 75%;
            --first-color: #f6bb41;
            --first-color-alt: hsl(var(--first-hue), var(--sat), 71%);
            /* -4% */
            --button-color: hsl(0, 0%, 17%);
            --button-color-alt: hsl(0, 0%, 21%);
            --gradient-color: linear-gradient(90deg, hsl(23, 4%, 28%) 0%, hsl(23, 4%, 8%) 100%);
            --gradient-color3: linear-gradient(90deg, hsl(23, 4%, 8%) 0%, hsl(23, 4%, 28%) 100%);
            /* --title-color: hsl(0, 0%, 15%); */
            --gradient-color2: linear-gradient(90deg, hsl(40.44deg 89.39% 19.48%) 0%, hsl(0deg 0% 35.5%) 100%);
            --title-color: hsl(0deg 0% 69.62%);
            --text-color: hsl(0, 0%, 35%);
            --text-color-light: hsl(0deg 0% 81.17%);
            /* --body-color: hsl(0, 2%, 9%); */
            --body-color: hsl(0deg 0% 0%);
            --container-color: #fff;
            --white-color: hsl(0, 0%, 100%);
            --border-color: hsl(0, 0%, 94%);
            --ant-success-color: rgba(255, 255, 255, 0.1);
            --ant-primary-color: rgb(18, 18, 18);
            --primary-color: var(--first-color, #f6bb41);
            --text-color: var(--text-color-light, #fff);
            --button-color: #f6bb41;
            --button-color-alt: #d9a937;
            --shadow-button: 2px 2px 5px rgba(0, 0, 0, 0.2);
            --title-color: #333;
            --black-color: hsl(225, 12%, 12%);
            /* --ant-success-color: rgba(255, 255, 255, 0.1); */
            --shadow-img: drop-shadow(0 12px 24px hsla(0, 0%, 0%, .4));
            --shadow-circle: 0 12px 24px hsla(0, 0%, 0%, .4);
            --shadow-button: 0 -4px 8px hsla(0, 0%, 0%, .3);
            --shadow-card: 0 -8px 24px hsla(0, 0%, 0%, .3);
            --shadow-text: 0 2px 4px var(--first-color-darken);
            /*========== Font and typography ==========*/
            --body-font: "Montserrat", sans-serif;
            --second-font: "Inter", sans-serif;
            --biggest-font-size: 3rem;
            --bigger-font-size: 2rem;
            --big-font-size: 2rem;
            --h1-font-size: 1.5rem;
            --h2-font-size: 1.25rem;
            --h3-font-size: 1rem;
            --normal-font-size: .938rem;
            --small-font-size: .813rem;
            /* --loading-font-size: 2rem; */
            --normal-font-size: .938rem;
            --small-font-size: .813rem;
            --smaller-font-size: .75rem;
            --tiny-font-size: .625rem;
            /*========== Font weight ==========*/
            --font-medium: 500;
            --font-bold: 700;
            /*========== Margenes Bottom ==========*/
            --mb-0-5: .5rem;
            --mb-0-75: .75rem;
            --mb-1: 1rem;
            --mb-1-5: 1.5rem;
            --mb-2: 2rem;
            --mb-2-5: 2.5rem;
            --mb-3: 2rem;
            /*========== z index ==========*/
            --z-tooltip: 10;
            --z-fixed: 100;
        }
        
        @media screen and (min-width: 768px) {
             :root {
                --h6-font-size: 1.7rem;
            }
        }
        
        @media screen and (min-width: 1150px) {
             :root {
                --big-font-size: 3.5rem;
                --biggest-font-size: 5rem;
                --bigger-font-size: 3rem;
                --h1-font-size: 2.25rem;
                --h2-font-size: 1.5rem;
                --h3-font-size: 1.25rem;
                --normal-font-size: 1rem;
                --small-font-size: .875rem;
            }
        }
        
        a {
            text-decoration: none;
        }
        
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: center;
            justify-items: center;
            background: linear-gradient(rgb(0 0 0 / 48%), rgba(0, 0, 0, 0.7)), url(../img/GIFT/4.jfif) no-repeat;
            background-size: cover;
            background-position: center top;
        }
        /* ============header============ */
        
        #embedim--snow .embedim-snow {
            /* color: RED; */
            background-color: red;
        }
        
        #snow-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            /* لتجنب التأثير على التفاعل مع العناصر الأخرى */
            z-index: 9999;
            /* تأكد من أن التلج يظهر فوق باقي المحتوى */
            overflow: hidden;
        }
        
        .snow {
            position: absolute;
            background-color: gold;
            border-radius: 50%;
            opacity: 0.7;
            pointer-events: none;
            /* لتجنب التأثير على التفاعل مع العناصر الأخرى */
        }
        /*=============== HEADER & NAV ===============*/
        
        .header {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            background-color: transparent;
            z-index: var(--z-fixed);
            box-shadow: inset 0px -20px 20px 0px rgb(0 0 0 / 16%);
        }
        
        .nav {
            position: relative;
            height: var(--header-height);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
        }
        
        .nav li {
            padding: .5rem 0;
        }
        
        .nav__logo {
            font-family: "Poppins", sans-serif !important;
            white-space: nowrap;
            font-size: 1.25rem;
            font-weight: bolder !important;
            color: var(--white-color);
        }
        
        .nav__toggle,
        .nav__close {
            display: flex;
            font-size: 1.5rem;
            cursor: pointer;
        }
        
        @media screen and (max-width:1150px) {
            .nav__menu {
                position: fixed;
                top: -100%;
                /* تبدأ القائمة خارج الشاشة */
                left: 0;
                background: #000;
                width: 100%;
                padding-block: 1rem 3.5rem;
                transition: top 0.5s ease-in-out;
                /* حركة سلسة */
                z-index: 1000;
            }
        }
        
        .nav__list {
            text-align: center;
            display: flex;
            flex-direction: column;
            /* row-gap: 2rem; */
        }
        
        .nav__link {
            font-family: "Poppins", sans-serif !important;
            color: #ffffff8c;
            font-weight: 600;
            cursor: pointer;
        }
        
        .nav__close {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
        }
        
        .show-menu {
            top: var(--header-height);
        }
        
        .scroll-header {
            background-color: #000000;
        }
        
        .calcnav {
            color: white;
            padding: .5rem;
            border-radius: .5rem;
            border: 1px solid var(--white-color);
            background: var(--first-color);
        }
        
        .cookingnav {
            color: white;
            padding: .5rem;
            border-radius: .5rem;
            border: 1px solid var(--white-color);
            background: green;
        }
        
        .containere {
            max-width: 1120px;
            margin-inline: 1.5rem;
        }
        /* =========================ss================= */
        
        .header-section {
            text-align: center;
            /* background-color: #6414e9; */
            padding: 2em 0;
            color: white;
            /* border-bottom: 2px solid #fff; */
        }
        
        .header-section h1 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1em;
            color: gold;
        }
        
        .header-section ol {
            text-align: left;
            margin: 0 auto;
            max-width: 300px;
            padding: 0;
        }
        
        .header-section li {
            font-size: 1.2em;
            color: #fff;
            margin: 0.5em 0;
        }
        /* WhatsApp Button */
        
        #whatsapp-btn {
            margin-top: 2em;
            padding: .5rem;
            background-color: #07b007;
            color: white;
            border: none;
            font-size: 1.2em;
            font-weight: bold;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        #whatsapp-btn:hover {
            background-color: #128C7E;
        }
        
        .wrapper {
            width: 90%;
            max-width: 34.37em;
            /* border: 3px solid white; */
            max-height: 95vh;
            background-color: rgba(0, 0, 0, 0);
            box-shadow: inset 0px -20px 20px 0px rgb(0 0 0);
            text-align: center;
            /* position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; */
            padding: 3em;
            border-radius: 1em;
            /* box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2); */
        }
        
        .container {
            position: relative;
            width: 100%;
            height: 100%;
        }
        
        #wheel {
            max-height: inherit;
            width: inherit;
            top: 0;
            padding: 0;
        }
        
        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }
        
        #spin-btn {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            height: 26%;
            width: 26%;
            border-radius: 50%;
            cursor: pointer;
            border: 0;
            background: radial-gradient(#fdcf3b 50%, #d88a40 85%);
            color: #c66e16;
            text-transform: uppercase;
            font-size: 1.8em;
            letter-spacing: 0.1em;
            font-weight: 600;
        }
        
        img {
            position: absolute;
            width: 4em;
            top: 45%;
            right: -8%;
        }
        
        #final-value {
            font-size: 1.5em;
            text-align: center;
            margin-top: 1.5em;
            color: #202020;
            font-weight: 500;
        }
        
        #final-value p {
            color: red;
            font-size: 1.5em;
            font-weight: bold;
        }
        
        input {
            height: 43px;
            outline: none;
            border: 1px solid red;
            padding: 0 15px;
            font-size: 16px;
            font-weight: 400;
            color: #000;
            border-radius: 43px;
            background: #ffffff7a;
            margin-bottom: 1rem;
        }
        
        #username::placeholder {
            color: black;
            /* لون رمادي فاتح */
            font-style: italic;
            font-size: 1.2em;
        }
        
        @media screen and (max-width: 768px) {
            .wrapper {
                font-size: 12px;
            }
            img {
                right: -5%;
            }
        }
        
        @media screen and (max-width:320px) {
            .containere {
                margin-inline: 1rem;
            }
        }
        
        @media screen and (min-width: 992px) {
            .container {
                margin-left: auto;
                margin-right: auto;
            }
        }
        
        @media screen and (min-width:1023px) {
            .section {
                padding: 7rem 1.5rem;
            }
            .containere {
                margin-inline: auto;
            }
        }
        
        @media screen and (min-width:1150px) {
            .containere {
                margin-inline: auto;
            }
            .nav {
                height: calc(var(--header-height) + 2rem);
            }
            .nav__toggle,
            .nav__close {
                display: none;
            }
            .nav__logo {
                font-size: var(--h3-font-size);
            }
            .nav__list {
                flex-direction: row;
                column-gap: 2rem;
                align-items: center;
            }
        }